@import(reset.css)
    
.grey{
    color: #8D8A87;
}   
.lightGrey{
    color: #F2F2F2;
}
.darkgrey{
    color: #3E3934;
}
.mediumDark{
    color: #585450;
}

html {
     font-size: 62.5%;
     font-family: "Playfair-Display", "sans";
     
}    

body{
    background: #F2F2F2;
}

section {
    width:80%;
    float: right;
}

h1 {
    font-size: 3rem;
    background: #3E3934; 
    color:#fff;
    border-top-left-radius: 1rem;
    padding: 1rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    padding: 1rem;
    background: #585450;
    color:#fff;
}

.about{
    column-count: 2;
}


    