@import url(reset.css);
@import url(ramka.css);
    
/* kolory */
.green{
    color: #95BF06;
}   
.darkGreen{
    color: #333103;
}
.mediumGreen{
    color: #6D8C06;
}
.orange{
    color: #F27707;
}
.darkOrange{
    color: #F25E05;
}


html {
     font-size: 62.5%;
     font-family: "Playfair-Display", "sans";
}    

body{
    padding-top: 1.5rem;
    background: #fff url(assets/tlo.jpeg) fixed no-repeat;
    background-size: contain;
}

/* header */
header.nav {
    color: #fff;
    background: #6D8C06; 
    height: 6rem;
    position: absolute;
    border-bottom-left-radius: 1rem;
    padding: 1.5rem;
    padding-top: 0rem;
    margin: 0rem;
    right: 0%;
}

header.small_nav nav {
    background: #6D8C06;
    display: none;
}

/* nawigacja */
nav {
    float:right;
}
nav li{
    font-size: 2.0rem;
    font-weight: bold;
    margin: 1rem;
    display: inline-block;
}
nav li a {
    text-decoration: none;
    color: #fff;
}
nav li a:hover {
    color: #333103;
}

/* przyciski */
button{
    background: #F27707;
    border: none;
    padding: 2rem 4rem;
    font-size: 1.8rem;
    font-weight: bold;
    float: right;
    cursor: pointer;
}

button:hover{
    background: #F25E05;
}

/* footer */
footer{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 2rem;
    background: #fff;
}

/* sekcja */
section {
    width:75%;
    margin-bottom: 4rem;
    margin-top: 10rem;
    position:absolute;
    right: 0%;
    min-width: 850px; 
    max-width: 1080px;
    z-index: 0;
}

/* nagłowki */
h1 {
    margin-top: 3rem;
    margin-left: -6rem;
    font-size: 2.4rem;
    background: #6D8C06;
    color:#fff;
    border-top-left-radius: 1rem;
    padding: 1rem;
}
h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2rem;
    padding: 1rem;
    background: #95BF06;
    color: #fff;
    margin: 1rem;
    clear: both;
}

/* inne elementy */
p {font-size: 1.6rem; line-height: 1.55; margin: 1rem; padding: 1rem;}
ul {font-size: 1.6rem; line-height: 1.55;}
strong {font-weight: bold;}
em{background-color: rgba(255,255,255,.8);}

/* formularze */
form{
    width: 50rem;
}
input, textarea {
    width:50rem;
    background: none;
    border:2px #d1d1d3 solid;
    margin:.5rem;
    padding: 1rem;
    color: #fff;
    font-size: 1.7rem;
}

/* grafika */
figure {
    float: left;
    padding: 2rem;
}

/* hiperłącza */
a.powrot {
    text-decoration: none;
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    margin: 2rem;
    float: right;
    border: #000000 dashed thin;
    background: #F27707 url(assets/strzalka.svg) center no-repeat;
    /*clear: both;*/
}
a.powrot:hover {
    background: #F25E05 url(assets/strzalka.svg) center no-repeat;
}

/* style użytkownika */
.small_menu{
    background: #fff url(assets/menu.svg) center no-repeat;
    padding: 1rem;
    margin: 1rem;
    height: 3.2rem;
    position: fixed;
    width: 3.2rem;
    right: 1%;
    display: none;
}
.streszczenie {
    font-size: 1.6rem;
    font-style: italic;
}
p.dwie_kolumny{
    column-count: 2;
}

/* zdarzenia */
.hoverme {
    height: 1rem;
    display: none;
}
.hoverme:hover header.small_nav nav{
    display: block;
}
.hoverme:hover a.small_menu{
    display: none;
}


/* RWD */
@media all and (max-width: 1070px){
    header {
        height: 20rem;
        position: absolute;
        right: 0%;
        z-index: 9999;
    }
    nav li{
        font-size: 1.6rem;
        display: block;
        text-align: right;
        background: url(assets/strzalka.svg) right no-repeat;
        padding-right: 4rem;
        line-height: 2.8rem;
    }
    body{ background: #fff; }
    .small_menu {display: block;}
    .hoverme {display: block; }
    .nav{display: none;}
    .bg{
        background: url(assets/tlo2.jpeg) center no-repeat;
        height: 200px;
    }
    p.dwie_kolumny{ column-count: 1;
    }
    form, input, textarea{width: 30rem; }
    section { position:relative; width:100%; margin-top: 5rem;}
    h1 {  border-top-left-radius: 1rem; margin-left: 2rem; margin-top: 0rem;}
    h3 { margin-left: 4rem;}
    a.powrot{
        margin:5rem;
    }
}

@media all and (max-width: 768px){
    .bg{
        background: #fff;
        height: 0rem;
    }
    figure{  display: none;}
}